﻿@{
    ViewData["Title"] = "Home Page";
}
<head> 
    <link rel="stylesheet" href="/css/Homepage.css">
</head>
<body>


<div class="text-center">
        <h1 class="page-title">Your Library</h1>
</div>


<div class="search-container">
    <input type="text" class="search-bar" placeholder="Search...">
</div>

<div class="placeHolder">
    <img src="~/Images/logo.png" alt="Logo" width="40%" height="auto" class="logo">
    <h5 class="logo-name">The Sew Library</h5>
    <button class="add-button">Add Pattern</button>
</div>

<div class="popup-overlay" id="popup">
    <div class="popup-content">
        <span class="close-button" id="close-popup">&times;</span>
        <h5 class="center-text">Add Pattern</h5>

        <div class="text-container">
            <div>
                <h5 class="left-text">Upload pattern</h5>
            </div>
            <div>
                <h5 class="right-text">Categorize pattern</h5>
            </div>
        </div>

        <div class="dropdown-container">
            <div class="dropdown">
                <select id="category-dropdown">
                    <option value="category1">Category 1</option>
                    <option value="category2">Category 2</option>
                    <option value="category3">Category 3</option>
                </select>
            </div>
        </div>

        <div class="upload">
            <img src="~/Images/upload-icon.png" alt="upload icon" width="40%" height="auto" class="upload-icon">
            <h3 class="upload-text">Drop file to upload or browse</h3>
        </div>

        
        <div class="input-container">
            <h5 class="lower-left-text">Name pattern</h5>
            <input type="text" id="pattern-name-input" placeholder="Enter pattern name">
        </div>

        </div>
</div>




        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const popup = document.getElementById('popup');
                const addButton = document.querySelector('.add-button');
                const closeButton = document.getElementById('close-popup');

                addButton.addEventListener('click', function () {
                    popup.style.display = 'block';
                });

                closeButton.addEventListener('click', function () {
                    popup.style.display = 'none';
                });
            });
        </script>


</body>