﻿@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

body {
    margin-top: -57px;
    margin-bottom: 60px;
    background-color: #F5F5F5;
    font-family: 'Montserrat', sans-serif;
}


.page-title {
    color: #4b433f;
    position: relative;
    margin-left: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.logo-name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 180px;
    position: fixed;
    color: #4b433f;
}

.add-button {
    background-color: #e9e5df;
    border: none;
    color: #4b433f;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    border-radius: 0;
    position: relative;
    margin-top: 300px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

    .add-button::before {
        top: 0;
    }

    .add-button::after {
        bottom: 0;
    }

    .add-button:hover {
        background-color: #efebe7;
    }

.placeHolder {
    background-color: #e9e5df;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 50px;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


.logo {
    margin-left: 50px;
    margin-right: auto;
    margin-top: 20px;
    display: block;
    position: fixed;
    width: 150px;
    height: auto;
    left: 0;
    position: fixed;
}

.search-container {
    display: flex;
    justify-content: left;
    height: 35px;
    margin-top: 30px;
    z-index: 2;
    position: fixed;
    left: 20px;
}

.search-bar {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #c3b8b4;
    border-radius: 20px;
    position: fixed;
    left: 300px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #4b433f;
}

    .search-bar:focus {
        border: #7a6e6a;
    }


.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 960px;
    height: 540px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.upload {
    width: 350px;
    height: 166px;
    background-color: #efebe7;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-left: 60px;
}

.upload-icon {
    margin: 0 auto;
    width: 20%;
    height: auto;
    margin-top: 0px;
}

.upload-text {
    text-align: center;
    margin-top: 10px;
    color: #7a6e6a;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin-top: 20px;
}



.lower-left-text {
    text-align: left;
    margin-left: -5px;
    margin-bottom: 20px;
}


.text-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.left-text, .right-text {
    flex: 1;
    text-align: center;
    margin-bottom: 20px;
}

.left-text {
    text-align: left;
    margin-left: 64px;
}

.right-text {
    text-align: right;
    margin-right: 230px;
}

.input-container {
    margin-left: 64px;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
    text-align: left;
    margin-bottom: 150px;
}

#pattern-name-input {
    width: 44%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    font-size: 16px;
}

.dropdown-container {
    position: absolute;
    top: 110px;
    right: 320px;
}


.dropdown select {
    background-color: #efebe7;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #7a6e6a;
}

    .dropdown select::-ms-expand {
        display: none;
    }

    .dropdown select:focus {
        outline: none;
        box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
    }

    .dropdown select option {
        background-color: #fff;
        color: #7a6e6a;
    }